[submodule "stem"]
	path = stem-client
	url = https://git.torproject.org/stem.git
[submodule "js-client/vendor/sjcl"]
	path = js-client/vendor/sjcl
	url = https://github.com/bitwiseshiftleft/sjcl.git
